
!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{charset: "utf-8"}/
    %meta{content: "IE=edge;chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    %title
      Blog Title#{' - ' + current_article.title unless current_article.nil?}
    = feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed"
    = stylesheet_link_tag "https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
    = stylesheet_link_tag "stylesheets/style"
  %body
    #main{:role => "main"}
      .container.mt-5.mb-5
        .row
          .col-12.col-md-3
            = link_to '/' do
              = image_tag "images/profile.jpg", class: "rounded-circle mx-auto d-block image__profile"
            .text-center
              %h4
                = link_to '/' do
                  %b Nikita Misharin
              %h5
                .small
                  %svg.icon__ruby.text-center{viewBox: '0 0 50 50'}
                    %use{'xlink:href' => '/images/ruby.svg#surface1'}
                  %span.title__developer
                    Developer

          .col-12.col-md-9
            .article.rounded
              .article-content
                %h1.text-center=  current_article.title
                = current_article.body
